<p id="notice"><%= notice %></p>

<h1>Raiders</h1>

<table>
  <thead>
    <tr>
      <th>Serial</th>
      <th>Image url</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raiders.each do |raider| %>
      <tr>
        <td><%= raider.serial %></td>
        <td><%= raider.image_url %></td>
        <td><%= raider.owner_id %></td>
        <td><%= link_to 'Show', raider %></td>
        <td><%= link_to 'Edit', edit_raider_path(raider) %></td>
        <td><%= link_to 'Destroy', raider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raider', new_raider_path %>
