<%= form_with(model: bulletin) do |form| %>
  <% if bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
        <% bulletin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% bulletin.author_id = current_user.id %>
  <% bulletin.guild_id = current_user.guild_id %>
  <%= form.hidden_field :guild_id %>
  <%= form.hidden_field :author_id %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.radio_button :priority, "Priority" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
