<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @stash.owner_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @stash.material_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stash.quantity %>
</p>

<%= link_to 'Edit', edit_stash_path(@stash) %> |
<%= link_to 'Back', stashes_path %>
