<p id="notice"><%= notice %></p>

<h1>Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Proposer</th>
      <th>Guild</th>
      <th>Status</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.proposer_id %></td>
        <td><%= proposal.guild_id %></td>
        <td><%= proposal.status %></td>
        <td><%= proposal.body %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
